
## Node
NODE_ENV=development
PORT=3000
# Websocket port
NEXT_PUBLIC_WS_PORT=3002

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/db?schema=public"

MONGO_USER=
MONGO_PASSWORD=
MONGO_URL="mongodb://localhost:27017/db"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=EXAMPLE_NEXTAUTH_SEC
NEXTAUTH_URL="http://localhost:${PORT}"

S3_ENDPOINT="http://localhost:9000"


# JUDGE0
J0_URL="http://localhost:2358"

S3_BUCKET_NAME=some
# Next auth secret
NEXT_AUTH_SECRET=

# Github OAuth Provider
GITHUB_ID=
GITHUB_SECRET=
OPENAI_API_KEY=
