# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

## Node
NODE_ENV=development
PORT=4000

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/db?schema=public"

## MongoDB

# MONGO_USER=
# MONGO_PASSWORD=
# MONGO_URL="mongodb://${MONGO_USER}:${MONGO_PASSWORD}@localhost:27017/db?authSource=admin"
MONGO_URL="mongodb://localhost:27017/db"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider (lmao)
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
