@tailwind base
@tailwind components
@tailwind utilities

@layer base
    h1
        @apply text-4xl
    h2
        @apply text-3xl
    h3
        @apply text-2xl
    h4
        @apply text-xl



:root
    --bg-1: #1f1f1f
    --bg-2: #2f2f2f
    --bg-3: #4e2d10
    --txt-1: #569cd6
    --txt-2: #9cdcfe
    --txt-3: #cccccc
    --txt-4: #b4843b
    --txt-5: #44a165
    --txt-6: #ac4646
    --check: #1c84da

input[type=number]
    -moz-appearance: textfield
    appearance: textfield
    margin: 0

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

.tb-border
    border: solid #444
    border-width: 0 1px 1px 0

.checkbox
    display: flex
    flex: none
    width: 2.4rem
    align-items: center
    justify-content: center
    position: relative

    span
        content: ''
        position: absolute
        background-color: var(--bg-1)
        width: 50%
        aspect-ratio: 1
        border-radius: 0.25rem
        transition: background-color 0.2s ease-in-out
        pointer-events: none

        &::after
            content: ''
            position: absolute
            visibility: hidden

    input[type=checkbox]
        height: 50%
        aspect-ratio: 1
        opacity: 0

        &:checked + span
            background-color: var(--check)
            &::after
                visibility: visible
                border: solid var(--txt-3)
                width: 35%
                height: 70%
                top: 10%
                left: 35%
                border-width: 0 3px 3px 0
                transform: rotate(45deg)

        &:indeterminate + span
            background-color: var(--check)
            &::after
                visibility: visible
                background-color: var(--txt-3)
                width: 50%
                height: 50%
                top: 25%
                left: 25%
                border-radius: 0.15rem
