@tailwind base
@tailwind components
@tailwind utilities

:root
    --bg-1: #1f1f1f
    --bg-2: #2f2f2f
    --txt-1: #569cd6
    --txt-2: #9cdcfe
    --txt-3: #cccccc
    --txt-4: #e2c08d
    --txt-5: #5e9f75
